<article class="doc-page">
  <section class="doc-section">
    <h2>Menu <code>mat-menu</code></h2>
    <p>Menú desplegable de Angular Material con triggers de botón.</p>

    <h3>Variantes</h3>
    <h4>Básico con button</h4>
    <button mat-stroked-button [matMenuTriggerFor]="basicMenu">
      Abrir menú
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #basicMenu="matMenu" class="lib-menu__panel">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Configuración</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>

    <h4>Con icon-button</h4>
    <button mat-icon-button [matMenuTriggerFor]="iconMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #iconMenu="matMenu" class="lib-menu__panel">
      <button mat-menu-item>
        <mat-icon>content_copy</mat-icon>
        <span>Duplicar</span>
      </button>
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Eliminar</span>
      </button>
    </mat-menu>

    <h4>Con dividers</h4>
    <button mat-stroked-button [matMenuTriggerFor]="dividerMenu">
      Más opciones
    </button>
    <mat-menu #dividerMenu="matMenu" class="lib-menu__panel">
      <button mat-menu-item>
        <mat-icon>download</mat-icon>
        <span>Descargar</span>
      </button>
      <button mat-menu-item>
        <mat-icon>share</mat-icon>
        <span>Compartir</span>
      </button>
      <mat-divider />
      <button mat-menu-item>
        <mat-icon>report</mat-icon>
        <span>Reportar</span>
      </button>
    </mat-menu>

    <h3>Ejemplo de uso</h3>
    <pre><code>&lt;button mat-stroked-button [matMenuTriggerFor]="menu"&gt;
  Abrir menú
&lt;/button&gt;

&lt;mat-menu #menu="matMenu" class="lib-menu__panel"&gt;
  &lt;button mat-menu-item&gt;
    &lt;mat-icon&gt;person&lt;/mat-icon&gt;
    &lt;span&gt;Perfil&lt;/span&gt;
  &lt;/button&gt;
  &lt;button mat-menu-item&gt;
    &lt;mat-icon&gt;settings&lt;/mat-icon&gt;
    &lt;span&gt;Configuración&lt;/span&gt;
  &lt;/button&gt;
&lt;/mat-menu&gt;</code></pre>
  </section>
</article>
